*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-family: "Electro Shackle", "2 Lines";
}

a:hover{
	color:orange;
	text-decoration: underline;
}

a:visited{
	color:orange;
	text-decoration: underline;
}

a:link{
	color:orange;
	text-decoration: underline;
}



body{
	background: url("pics/bg4.jpg") no-repeat top center fixed #0C180E;
	background-size: 100% 100%, cover;
	

}
















header.header-main{
	background: #0C180E;
	border-bottom: 3px solid orange;
	padding: 30px;
	color: orange;
	width: 100%;
	//overflow: auto;
}

.clearfix::after{
	content:"";
	display: table;
	clear: both;

}

h1{
	margin-left: 50px;
}


.header-text{
	display:block;
	float:left;

}

div.list-container{
	float:right;
	//max-width: 700px;
	max-height: 100px;
	background: #0C180E;
	margin-top: 20px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 60px;
	display: block;
	


}

li.nav-list{
	display:inline-block;
	width:100px;
	height: 20px;
	margin: 2px 2px;
	border: 3px solid orange;
	text-align: center;
	cursor: pointer;
}








div#objects-container{
	//position:relative;
}



div.sliders{
	background-color: #0C180E;
	margin: 20px auto;
	border: 10px double orange;
	max-width: 700px;
	height: 500px;
	overflow: hidden;
	position:relative;
	//bottom: 200px;
	z-index: 2;
	color: orange;
	
}

div.slider1{
	

}

p.slider1-text{
	z-index:7;
	font-size: 40px;
	max-width: 500px;
	margin: 120px 110px auto;
	position:absolute;
	top: 70px;
}

p.slider3-text{
	z-index:4;
	font-size: 40px;
	max-width: 500px;
	margin-top: 30px;

	margin-left: 110px auto;
	margin-right: 110px auto;;
	position:absolute;
	left: 30px;
	top: 150px;
	text-align: center;
}



img.slide{
	margin: auto;
	max-height: 500px;
	max-width: 700px;
	position: absolute;
	display: block;
	z-index: 4;

}

img.one-slide3{
	animation-name: slider-one;
	animation-duration: 5s;
	animation-fill-mode:both;
}

img.one-slide2{
	animation-name: slider-one;
	animation-delay:5s;
	animation-duration: 5s;
	animation-fill-mode:both;
	
}

@keyframes slider-one{
	from{transform: scale(1)}
	to{transform: scale(0)}
	
}

img.two-slide4{
	animation-name: slider-two;
	animation-duration: 10s;
	animation-fill-mode: both;
}

img.two-slide3{
	animation-name: slider-two-left;
	animation-duration: 10s;
	animation-delay: 10s;
	animation-fill-mode: both;
}

img.two-slide2{
	animation-name: slider-two;
	animation-duration: 10s;
	animation-delay: 20s;
	animation-fill-mode: both;
}

@keyframes slider-two{
	from{transform: translate(0)}
	to{transform: translate(700px)}
}

@keyframes slider-two-left{
	from{transform: translate(0)}
	to{transform: translate(-700px)}
}


img.three-slide3{
	animation-name: slider3;
	animation-duration: 5s;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	
	
}

img.three-slide2{
	animation-name: slider3;
	animation-duration: 5s;
	animation-delay: 10s;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes slider3{
	from{transform: scale(0)}
	to{transform: scale(3.4)}
}


div#objects-container{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}





footer#footer-main{
	border-top: 3px solid orange;
	width: 100%;
	padding:20px;
	background-color: #0C180E;
	margin: auto auto;
}

div#footer-wrap{
	max-width: 1000px;
	margin: 50px auto;
	position: relative;
	bottom: 20px;
	left: 30px;
	
}


ul li.footer-li{
	display: inline-block;
	min-width: 150px;
	max-height: 100px;
	color: white;
	font-size: 20px;
	margin: 35px 0 auto;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;

}








@media (max-width: 755px){

	header.header-main{
	border-bottom: 3px solid orange;
	font-size: 13px;
	text-align: right;
	padding: 30px;
	color: orange;
	width: 100%;
	}

	
	.header-text{
	display:inline-block;
	margin-left: 40px;
	text-align: center;
	
	}

	div.list-container{
	display: inline-block;
	margin-left: 20px;

	}

	li.nav-list{
	display:block;
	width: 390px;
	height: 20px;
	
	border: 3px solid orange;
	text-align: center;
	cursor: pointer;
	font-size: 17px;

	}

	div.sliders{
	background-color: #0C180E;
	margin: 20px auto;
	border: 10px double orange;
	max-width: 500px;
	height: 400px;
	overflow: hidden;
	position:relative;
	//bottom: 200px;
	z-index: 2;
	color: orange;
	}

	p.slider1-text{
	text-align: center;
	font-size: 30px;
	margin-bottom: auto;
	margin-top: 80px;
	text-shadow: 3px 2px 4px black;
	}

	p.slider3-text{
	text-align: center;
	font-size: 30px;
	margin-bottom: auto;
	margin-top: -40px;
	text-shadow: 3px 2px 4px black;
	}


	ul li.footer-li{
	display: inline-block;
	min-width: 100px;
	max-height: 100px;
	color: white;
	font-size: 15px;
	margin: 3px 0 auto;
	//margin-right: 10px;
	text-align: center;
	cursor: pointer;
	position:relative;
	top: 20px;

	}
	
	footer#footer-main{
	border-top: 3px solid orange;
	width: 100%;
	padding:10px;
	background-color: #0C180E;
	margin: auto auto;
	}

}







@media (min-width: 756px) and (max-width: 1113px){
	body{
		background: black;
	}

	
	h1{
	margin-left: 10px;
	}

	h2{
		margin-left: 40px;
	}

	h2 span{
		display: block;
	}

	.header-text{
	display:inline-block;
	float:left;
	font-size: 15px;
	position:relative;
	top: 5px;


	}

	div.list-container{
	float:right;
	//max-width: 700px;
	max-height: 100px;
	background: #0C180E;
	margin-top: 20px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 60px;
	position: relative;
	bottom: 10px;
	
	}

	li.nav-list{
	display:block;
	width:250px;
	height: 20px;
	margin: 2px 2px;
	border: 3px solid orange;
	text-align: center;
	cursor: pointer;
	}


}




















